

            </div>
            <div class="spacer"></div>
            <div id="footer">
                <div id="copyright">{$licence}</div>
                <ul>
                    <li><a href="{$base_url}" title="{$title_home_link}">{$text_home_link}</a></li>
                    <li><a href="{$base_url}/timeline.php" title="{$title_timeline_link}">{$text_timeline_link}</a></li>
                    <li><a href="{$base_url}/contact.php" title="{$title_contact_link}">{$text_contact_link}</a></li>
                </ul>
            </div>
            <div class="spacer"></div>
        </div>
    </body>
</html>